In [1]:
import pandas

## Let's load needed libraries

In [10]:
# we import the library pandas and give it the "pd" kickname
import pandas as pd

## Let's load the gapminder dataset

In [11]:
# we use pandas.read_csv() function to access the file "gapminder.tsv" stored in a remote location 

# the remote location is: https://raw.githubusercontent.com/thousandoaks/BEMM458/master/data/

# with the argument sep='\t' we indicate that the columns are separated by tabs rather than commas.

df = pd.read_csv('https://raw.githubusercontent.com/thousandoaks/BEMM458/master/data/gapminder.tsv', sep='\t')

## Let's observe our data

In [12]:
# we show the first 5 rows
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [14]:
# we show the size of our dataset
df.shape

(1704, 6)

In [15]:
# we get some more detailed info on our dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

## Let's extract some columns from our data

In [17]:
# we can extract a column by its name
df['country']

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [18]:
# we can extract several columns at the same time
df[['country','lifeExp']]

          country  lifeExp
0     Afghanistan   28.801
1     Afghanistan   30.332
2     Afghanistan   31.997
3     Afghanistan   34.020
4     Afghanistan   36.088
...           ...      ...
1699     Zimbabwe   62.351
1700     Zimbabwe   60.377
1701     Zimbabwe   46.809
1702     Zimbabwe   39.989
1703     Zimbabwe   43.487

[1704 rows x 2 columns]

In [ ]:
df.